.section-4 {
    display: flex;
    flex-direction: row;
    justify-content: right;

}
.section-2 {
    display: flex;
    flex-direction: row;
    justify-content: right;
  
}
.section-1 p {
    margin: 0;
}
.ai {
    display: flex;
}

table{
    font-size: 20px;
}

.tab{
    margin: 5;
}